*{
    font-family:sans-serif;
}
body{
    font-size: 22px;
    background-color: #0c5460;
    width:100vh;
}
header{
    height: 92vh;
}
.profil{
    width: 13%;
}
.list-group, .list-group-item{
    width: 100%;

}
p{
    font-size: 20px;
}
@media (min-width: 320px) AND (max-width: 800px)
{

    body{
        font-size: 14px;
    }
    p{
        font-size: 12px;
    }
    h1,h2{
        font-size: 18px;
        padding: 3vw;
    }
    h5{
        font-size: 16px;
    }
    .profil{
        width: 20%;
    }
}